{% extends "base_app/base.html" %}
{% block content %}
    <h2 class=".article-title">About</h2>
    <p>The aim of this project is to create a single platform for learning as well as focused problem solving. The "hints"
   web application allows its users to showcase pre-defined content such as courses or series of videos on a specific
   subject matter (very much similar to Linux Academy). To specifically address the critical questions raised, it also
   allows users to "book" discussion time with other users who can provide consultation or their expertise over a
   specific problem. This may be accomplished by integrating third party video call APIs. </p>
{% endblock content %}