{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title of Site-->
    <title>Hints!</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base_app/base.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="fb-root"></div>
<!-- Main Navigation Bar -->
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">Hints</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'course-home' %}">Courses</a>
                    <a class="nav-item nav-link" href="{% url 'timeslots' %}">Book Time</a>
                </div>
                <!-- Navigation Bar Right Side -->
                <div class="navbar-nav">
                    <!-- Is the user logged in? Check condition using Django user variable (current user) with attribute is authenticated -->
                    {% if user.is_authenticated %}
                        <!-- If the user is authenticated then display logout + profile links -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Your Content
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'course-create' %}">create a course</a>
                            <a class="dropdown-item" href="{% url 'manage-courses' user.username %}">manage your courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'all-meetings' user.id %}">meetings scheduled</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'add-time' user.username %}">add a time slot</a>
                            <a class="dropdown-item" href="{% url 'all-timeslots' user.username %}">your time slots</a>
                        </div>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <!-- If the user is not authenticated then display login and signup links -->
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign-Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Main Content -->
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Insert Content From Other Templates -->
            {% block content %} {% endblock %}
        </div>
    </div>
</main>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
