{% extends 'base_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2>Book a Meeting</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Book</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'home' %}">Return to HomePage</a>
            </small>
        </div>
    </div>
{% endblock content %}